#root {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: hsl(207, 20%, 25%);
  min-height: 100vh;
  max-height: 100vh;
  color: hsl(207, 10%, 90%);
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}



a{
  text-decoration: none;
  color: hsl(207, 10%, 90%);
}

button{
  text-decoration: none;
  color: hsl(207, 10%, 90%);
}

a:hover{
  text-decoration: none;
  color: hsl(207, 80%, 50%);
}



